@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Ibarra+Real+Nova&display=swap');

$color_dark: #252525;
$color_light: #ececec;
$font_headings: 'Bellota Text', cursive;
$font_body: 'Ibarra Real Nova', serif;;
$size_mobile: 320px;
$size_tablet: 768px;
$size_desktop: 1024px;
