@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Ibarra+Real+Nova&display=swap");
:root {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 19px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 23px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  overflow: hidden;
  min-height: 100vh;
  font-family: "Ibarra Real Nova", serif;
  color: #ececec;
  background-color: #252525;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/animals/chipmunk.jpg");
}

.hero__title {
  font-family: "Bellota Text", cursive;
  font-weight: bold;
  z-index: 3;
  color: #ececec;
  font-size: 12vmin;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.hero__subtitle {
  font-family: "Ibarra Real Nova", serif;
  color: #ececec;
  font-size: 4vmin;
  line-height: 1;
  z-index: 3;
  margin-bottom: 70px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero__overlay {
  background-color: rgba(37, 37, 37, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.hero__button {
  background: #252525;
  border-radius: 5px;
  font-family: "Bellota Text", cursive;
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  z-index: 3;
  text-decoration: none;
  color: #ececec;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 300ms ease-in-out;
  transition: -webkit-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
}

.hero__button:focus, .hero__button:hover {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252525;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.preloader__img {
  width: 70px;
  height: 70px;
  -webkit-animation: rotatin 3s ease-in-out infinite;
          animation: rotatin 3s ease-in-out infinite;
  background-image: url("../images/wheel.png");
  background-size: cover;
}

@-webkit-keyframes rotatin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotatin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */